@media screen and (max-width: 1000px){
  .credits ul li h3{
    display: block;
    margin-bottom: 7px;
  }
  .credits ul li h3.divider{
    display: none;
  }
}
@media screen and (max-width: 700px){
  .credits ul li{
    flex-wrap: wrap;
    padding: 15px
  }
  .credits ul li h2{
    font-size: 27px;
    text-align: center;
    margin-bottom: 15px;
  }
  .credits ul li h3{
    text-align: center;
  }
  .credits ul li p{
    text-align: center;
  }
  .credits ul li a{
    margin-left: 0;
    margin-top: 15px;
  }
}