.header{
  position: absolute;
}

.splash{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, .3);
}
.splash h1{
  color: white;
  font-weight: Bold;
  font-size: 60px;

  cursor: default;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}
.splash img {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
  object-fit: cover;
}